@import "tailwindcss";

/* Scrollbar total */
::-webkit-scrollbar {
  width: 8px;            
  height: 8px;           
}

/* Barra de scroll */
::-webkit-scrollbar-track {
  background: #f0f0f0;   
  border-radius: 8px;
}

/* Thumb (el "botón" que se mueve) */
::-webkit-scrollbar-thumb {
  background: #007aff; 
  border-radius: 8px;
}

/* Hover del thumb */
::-webkit-scrollbar-thumb:hover {
  background: #005fcc;
}

/* en tu global.css o styles.css */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari y Opera */
}

