---
import '../styles/global.css'
import { Aside } from '../components/Aside'
import { Stats } from '../components/Stats'
import { Calendary } from '../components/Calendary';
import { CitiesWeather } from '../components/Cities';
import { Comparison } from '../components/Comparison';
import { Map } from '../components/Map';
import { Contact } from '../components/Contact';
---
<!doctype html>

<html lang="en">

	<head>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/beach.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Tuki | Weather App</title>

	</head>

	<body class="w-full flex flex-col h-auto">

		<main class="w-full flex h-auto md:h-screen p-5 md:p-10 gap-5">

			<!-- Aside (siempre a la izquierda) -->
			<div class="w-[30%] md:w-[8%]">
				<Aside />
			</div>

			<!-- Contenedor de Stats + Calendary -->
			<div class="w-[70%] flex flex-col md:flex-row md:w-full gap-5 mt-5 md:mt-0">

				<section class="w-full md:w-2/3 h-auto md:h-full">
					<Stats />
				</section>

				<section class="w-full md:w-1/3 h-auto md:h-full">
					<Calendary />
				</section>

			</div>

		</main>

		<section class="w-full flex justify-end p-5 md:p-10">

			<div class="w-[70%] md:w-[92%] flex flex-col">

				<CitiesWeather client:load/>
				<Comparison client:load/>

			</div>

		</section>

		<section class="w-full flex justify-end p-5 md:p-10">

			<div class="w-[70%] md:w-[92%]">
				<Map />
			</div>

		</section>
	
		<section class="w-full flex justify-end p-5 md:p-10">

			<div class="w-[70%] md:w-[92%]">
				<Contact />
			</div>

		</section>
		
	</body>

</html>