---
import '../styles/global.css'
import { Aside } from '../components/Aside'
import { Stats } from '../components/Stats'
import { Calendary } from '../components/Calendary';
import { CitiesWeather } from '../components/Cities';
import { Comparison } from '../components/Comparison';
import { Map } from '../components/Map';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/beach.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Tuki | Weather App</title>
	</head>
	<body class="w-full flex flex-col h-[4000px]">

		<main class="w-full flex h-screen justify-between p-10">

			<div class="w-[8%]">

				<Aside />

			</div>

			<slot />
			
			<section class="w-[55%] h-full">

				<Stats />

			</section>
			
			<section class="w-[30%] h-full">

				<Calendary />

			</section>

		</main>

		<section class="w-full flex justify-end relative max-h-auto">

			<section class="w-[89%] h-full flex flex-col p-10">

				<CitiesWeather client:load/>

				<Comparison client:load/>

			</section>
			

		</section>

		<section class="w-full flex justify-end">

			<section class="w-[89%] right-0 p-10">

				<Map />

			</section>

		</section>
		
		
	</body>
</html>